@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border: 0;
  background-color: rgba(22, 81, 190, 0.699);
}

.flex {
  display: flex;
}

.details-wrapper {
  flex-direction: column;
  height: 100vh;
  font-size: 14px;
  color: #fff;
}

.goback-arrow {
  padding: 5px 10px;
  align-self: self-start;
}

.details-title {
  background-color: rgba(11, 79, 206, 0.699);
  padding: 5px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

.stats :nth-child(even) {
  background-color: rgba(24, 91, 216, 0.699);
}

.stats p {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 70px;
  gap: 9px;
}

