@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Lato&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  margin: 0;
  border: 0;
  background-color: rgba(22, 81, 190, 0.699);
}

.flex {
  display: flex;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.title {
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  gap: 5px;
  background-color: rgba(24, 91, 216, 0.699);
  width: 100%;
  letter-spacing: normal;
}

.header form {
  border-radius: 1rem;
  border: 1px solid #fff;
  padding: 3px 5px;
  font-size: 12px;
}

form input,
input::placeholder,
.each-artwork,
.title,
.artwork-wrapper-title {
  color: #fff;
}

form input,
.date-dsp {
  font-size: 12px;
  font-weight: lighter;
}

.header form .search {
  width: 120px;
}

.header form .submt-search {
  width: 60px;
  border-left: 1px solid #fff;
}

.art-header {
  flex-direction: column;
  width: 100%;
  height: 190px;
  background-image: url("../images/art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  opacity: 0.4;
}

.art-header .one {
  text-align: right;
  color: #fff;
}

.artwork-wrapper-title {
  background-color: rgba(23, 76, 173, 0.699);
  padding: 5px 0;
  letter-spacing: 0.03cm;
}

.artwork-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.artwork-wrapper:nth-child(even) {
  background-color: transparent;
}

.each-artwork {
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  text-align: right;
  height: 170px;
}

.right-arrow {
  align-self: flex-end;
  margin-bottom: 20px;
}

.right-arrow button {
  background-color: transparent;
}
