@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat&family=Puritan&family=Roboto+Slab&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border: 0;
  background-color: rgba(22, 81, 190, 0.699);
}

.flex {
  display: flex;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.header h3 {
  padding: 10px;
}

.header form {
  border-radius: 1rem;
  border: 1px solid #fff;
  /* background-color: gray; */
  padding: 3px 5px;
  font-size: 12px;
}

form input, input::placeholder, .each-artwork, .header h3{
  color: #fff;
}

.header form .search {
  width: 120px;
}

.header form .submt-search {
  width: 60px;
  border-left: 1px solid #fff;
}

.artwork-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  /* gap: 10px; */
  /* padding: 10px; */
  /* width: 100%; */
}

.each-artwork:nth-child(odd) {
  background-color: rgba(24, 91, 216, 0.699);
}

.each-artwork {
  flex-direction: column;
  padding: 10px 25px;
  gap: 10px;
  text-align: right;
  height: 170px;
}

.right-arrow {
  align-self: flex-end;
  margin-bottom: 20px;
  
}

.right-arrow button {
  background-color: transparent;
}
